@import "fonts";

// @tailwind base;
// @tailwind components;
// @tailwind utilities;

@import "vars";
@import "mixins";
@import "vendor/reset";
 

::-webkit-scrollbar-track
{
	border-radius: 1rem;
	background-color: transparent;
}

::-webkit-scrollbar
{
	width: 0;
	background-color: transparent;
}
::-webkit-scrollbar:horizontal {
  height: 0;
}

::-webkit-scrollbar-thumb
{
	background-color: var(--green);
  border-radius: 0.2rem;
}

html {
  box-sizing: border-box;
  font-size: calc(100vw / 1920 * 10);
  @include breakpoint($cos-bp) {
    font-size: calc(100vw / 1200 * 10);
  }

  @include breakpoint($xl-bp) {
    font-size: calc(100vw / 850 * 10);
  }

  @include breakpoint($sm-bp) {
    font-size: calc(100vw / 375 * 10);
  }
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: 'Montserrat';
  -webkit-tap-highlight-color: transparent;
}

body {
  color: var(--black);
  font-style: normal;
}

.bg-grey {
  background-color: #F5F5F5;
  .header {
    @include breakpoint($xl-bp) {
      background-color: var(--white);
    }
  }
}

button {
  color: var(--black);
  font-family: 'Montserrat';
}

img {
  image-rendering: crisp-edges;
  image-rendering: -webkit-optimize-contrast;
}

svg {
  transition: all 0.1s linear;
}

// /* Vendors */

.page-container {
  padding-left: 36rem;
  padding-right: 36rem;
  @include breakpoint($cos-bp) {
    padding-left: 3rem;
    padding-right: 3rem;
  }
  @include breakpoint($sm-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}
.page-container-mobile {
  @include breakpoint($xl-bp) {
    padding-left: 3rem;
    padding-right: 3rem;
  }

  @include breakpoint($sm-bp) {
    padding-left: 2rem;
    padding-right: 2rem;
  }
}

.newPagesMargin {
  margin-top: 10rem;
  &:last-child {
    @include breakpoint($sm-bp) {
      margin-top: 0rem;
    }
  }
}

// /* Blocks */

@import './blocks/menu.scss';
@import './blocks/swiper.scss';
@import './blocks/header.scss';
@import './blocks/footer.scss';
@import './blocks/main.scss';
@import './blocks/servises.scss';
@import './blocks/prices.scss';
@import './blocks/results.scss';
@import './blocks/specialists.scss';
@import './blocks/specialist.scss';
@import './blocks/fancybox.scss';
@import './blocks/cases.scss';

@import './blocks/servicesSecond.scss';
@import './blocks/servicesThird.scss';
@import './blocks/aboutClinic.scss';
@import './blocks/legalInformation.scss';
@import './blocks/contacts.scss';
@import './blocks/casePage.scss';


.hide {
  display: none;
}

.show {
  display: block;
}

.img-contain {
  display: block;
  img {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }
}
.img-cover {
  display: block;
  overflow: hidden;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
