.table {
  --bs-table-bg: transparent;
  --bs-table-accent-bg: transparent;
  --bs-table-striped-color: #212529;
  --bs-table-striped-bg: rgba(0, 0, 0, 0.05);
  --bs-table-active-color: #212529;
  --bs-table-active-bg: rgba(0, 0, 0, 0.1);
  --bs-table-hover-color: #212529;
  --bs-table-hover-bg: rgba(0, 0, 0, 0.075);
  width: 100%;
  margin-bottom: 1rem;
  color: #212529;
  vertical-align: top;
  border-color: #dee2e6;
}

.table> :not(caption)>*>* {
  padding: 0.5rem 0.5rem;
  background-color: var(--bs-table-bg);
  border-bottom-width: 1px;
  box-shadow: inset 0 0 0 9999px var(--bs-table-accent-bg);
}

.table>tbody {
  vertical-align: inherit;
}

.table-hover>tbody>tr:hover>* {
  --bs-table-accent-bg: var(--bs-table-hover-bg);
  color: var(--bs-table-hover-color);
}

.card-body {
  flex: 1 1 auto;
  padding: 1rem 1rem;
}

*:focus {
  outline: none;
}

strong {
  font-weight: 700;
  color: #d1d1d1;
}

strong {
  font-weight: 700;
  color: #313131;
}

.table {
  width: 100%;
  max-width: 100%;
  text-align: left;
  border-collapse: collapse;
  margin-top: 4rem;
}

.table td {
  color: #313131;
  vertical-align: middle;
}

.table td {
  padding: 3rem 2.4rem;

  @include breakpoint($xl-bp) {
    padding: 1.5rem 2rem;
  }
}

.table tbody tr:first-child td {
  border-top: 0;
}

.table tr {
  border-top: 1px solid #CBCBCB;

  &:first-child {
    border-top: 0;
  }

  &:last-child {
    border-bottom: 1px solid #CBCBCB;
  }

  td {
    &:first-child {
      padding-left: 0;
    }

    &:last-child {
      padding-right: 0;
    }
  }
}

.table-hover tbody tr {
  transition: 0.55s;
}

.table-hover tbody tr:hover {
  background: #f5f6fa;
}

div,
span,
strong,
table,
tbody,
tr,
td {
  margin: 0;
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

table {
  border-collapse: collapse;
  border-spacing: 0;

  .table-subtitle {
    background-color: #ECECEC;
    border-bottom: 0;
    border-top: 0;
    text-align: end;

    td {
      &:last-child {
        padding-right: 2.4rem;

        @include breakpoint($xl-bp) {
          padding-right: 3rem;
        }
      }
    }

    &+tr {
      border-top: 0;
    }
  }
}

table {
  border-collapse: collapse;
  border-spacing: 0;
  font-size: 1.6rem;
  line-height: 150%;

  @include breakpoint($xl-bp) {
    font-size: 1.4rem;
  }

  strong {
    font-weight: 600;
    font-size: 2rem;
    line-height: 120%;

    @include breakpoint($xl-bp) {
      font-size: 1.6rem;
    }
  }
}

.table-wrapper {
  overflow: auto;
}



.price-list {
  display: flex;
  flex-direction: column;
  gap: 4rem;
  padding: 6rem;
  background-color: #F5F6FA;

  @include breakpoint($xl-bp) {
    padding: 2rem;
  }
}

.price-button {
  font-size: 2rem;
  line-height: 150%;
  display: flex;
  align-items: center;
  gap: 4rem;
  width: 100%;

  @include breakpoint($xl-bp) {
    font-size: 1.6rem;
  }

  .price-plus {
    width: 2.4rem;
    height: 2.4rem;
    position: relative;
    flex: 0 0 auto;
    display: inline-block;
    &::after {
      content: '';
      width: 1.2rem;
      height: 0.2rem;
      background-color: var(--white); 
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%) rotate(90deg);
      transition: transform .3s;
    }
    &::before {
      content: '';
      background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='24' height='24' rx='2' fill='%23006666'/%3E%3Crect x='6' y='11' width='12' height='2' fill='white'/%3E%3C/svg%3E%0A");
      background-size: contain;
      width: 100%;
      height: 100%;
      background-repeat: no-repeat;
      position: absolute;
      top: 0;
      left: 0;
    }
  }

  &.active+.price-wrapper {
    grid-template-rows: 1fr;
  }
  &.active {
    .price-plus {
      &::after {
        transform: translate(-50%, -50%) ;
      }
    }
  }
}

.price-wrapper {
  display: grid;
  grid-template-rows: 0fr;
  transition: grid-template-rows .3s;
  overflow: hidden;
  position: relative;
}

.price-block {
  @include breakpoint($sm-bp) {
    padding-left: 0;
    padding-right: 0;
  }
}