.mt-40 {
  margin-top: 3.3rem;
}

.mt-150 {
  margin-top: 14.5rem;
}

.breadcrumps {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;

  
  li {
    &::after {
      content: ' / ';
      margin-left: 0.5rem;
    }
    &:last-child {
      &::after {
        content: unset;
      }
    }
  }
  a,
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: rgba(0, 56, 55, 0.5);
    font-family: 'Open Sans';
    @include breakpoint($sm-bp) {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

.services-header {
  display: grid;
  grid-template-columns: 44.5% 1fr;
  align-items: center;
  width: 100%;

  @include breakpoint($xl-bp) {
    flex-direction: column-reverse;
    gap: 7rem;
  }

  @include breakpoint($sm-bp) {
    gap: 4rem;
  }

  .services-header-left {
    display: flex;
    flex-direction: column;
    gap: 4rem;


    .services-header-block {
      padding-left: 19.5rem;
      @include breakpoint($cos-bp) {
      }

      @include breakpoint($xl-bp) {
        padding-left: 3rem;
        padding-right: 3rem;
      }

      @include breakpoint($sm-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #4F4F4F;

        @include breakpoint($sm-bp) {
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }

      h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 7rem;
        line-height: 7rem;
        color: #4F4F4F;
        margin-top: 2rem;

        @include breakpoint($xl-bp) {
          margin-top: 3rem;
        }

        @include breakpoint($sm-bp) {
          font-size: 2.5rem;
          line-height: 2.8rem;
          margin-top: 2rem;
        }
      }

      a {
        @include breakpoint($xl-bp) {
          margin-top: 4rem;
        }

        @include breakpoint($sm-bp) {
          margin-top: 2rem;
          padding: 1.5rem 2rem 2rem 1.5rem;
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }
    }
  }

  .services-header-right {
    height: 84rem;
    @include breakpoint($xl-bp) {
      width: 100%;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.services-header-button {
  margin-top: 3rem;
  border-radius: 1rem;
  letter-spacing: -0.03em;
  background-color: transparent;
}


.services-price {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include breakpoint($cos-bp) {
    gap: 5rem;
  }

  @include breakpoint($sm-bp) {
    gap: 2rem;
  }

  .services-price-search {
    width: 38rem;
    margin: 0 auto;
    position: relative;

    @include breakpoint($sm-bp) {
      width: 100%;
    }

    input {
      padding: 1.5rem 2rem;
      padding-right: 4rem;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1.64rem;
      line-height: 2rem;
      color: #003837;
      border: 0.1rem solid #003837;
      backdrop-filter: blur(4.6rem);
      border-radius: 0.5rem;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      &:focus {
        border-color: var(--green);
      }
    }
    button {
      position: absolute;
      top: 55%;
      right: 2.3rem;
      transform: translate(0%, -50%);
      &:hover {
        svg {
          fill: var(--green);
        }
      }
    }
    svg {
      width: 2.2rem;
      height: 2.2rem;
      opacity: 0.6;
    }

  }

  .services-price__contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.7rem;
    justify-content: center;

    @include breakpoint($sm-bp) {
      margin-top: 2rem;
    }

    .services-price__item {
      position: relative;
      width: 23.3%;

      @include breakpoint($cos-bp) {
        width: 31.3%;
      }

      @include breakpoint($xl-bp) {
        width: 47%;
      }

      @include breakpoint($sm-bp) {
        width: 100%;
      }

      button {
        padding: 0rem;
        background: rgba(251, 251, 251, 0.63);
        border: 0.1rem solid #F1F1F1;
        backdrop-filter: blur(0.45rem);
        border-radius: 1.85rem;
        padding: 2rem 2.7rem;
        display: flex;
        gap: 1.5rem;

        .services-price__img {
          width: 9rem;
          height: 6rem;
          object-fit: contain;
          fill: #009B97;
          stroke: #009B97;
          transition: all .25s;
        }

        .services-price__btnTitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.3rem;
          color: #003837;
        }

        .services-price__arrow {
          fill: transparent;
          width: 1rem;
          height: 1rem;
          stroke: #003837;
          transition: all .25s;
        }
      }

      ul {
        visibility: hidden;
        opacity: 0;
        transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        position: absolute;
        width: auto;
        padding: 3rem 3rem 4rem 3rem;
        background: #F9FFFF;
        border: 0.1rem solid #F1F1F1;
        backdrop-filter: blur(0.45rem);
        border-radius: 0px 0px 1.85rem 1.85rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        top: 8.7rem;
        z-index: 11;

        li {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2rem;
          color: #003837;
        }
      }

      &:hover {

        .services-price__img {
          stroke: #FFFFFF;
          fill: #FFFFFF;
          transition: all .25s;
        }



        .services-price__arrow {
          transform: rotate(180deg);
          stroke: #CFFFFE;
          transition: all .25s;
        }

        .services-price__btnTitle {
          color: #CFFFFE;
        }

        button {
          background: linear-gradient(180deg, #00B7B2 0%, #009B97 100%);
          transition: all 0.35s linear;
        }

        ul {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        }
      }
    }
  }
}