.mt-40 {
  margin-top: 3.3rem;
  @include breakpoint($xl-bp) {
    margin-top: 2.3rem;
  }
}

.mt-150 {
  margin-top: 14.5rem;
  @include breakpoint($xl-bp) {
    margin-top: 9.5rem;
  }
}

.breadcrumps {
  
  li {
    margin-right: 1rem;
    display: inline;
    @include breakpoint($sm-bp) {
      margin-right: 0.5rem;
    }
    &:last-child {
      margin-left: 0;
    }
    &::after {
      content: ' / ';
      margin-left: 0.5rem;
    }
    &:last-child {
      &::after {
        content: unset;
      }
    }
  }
  a,
  span {
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.6rem;
    color: rgba(0, 56, 55, 0.5);
    font-family: 'Open Sans';
    @include breakpoint($sm-bp) {
      font-size: 1.2rem;
      line-height: 2rem;
    }
  }
}

.services-header {
  display: grid;
  grid-template-columns: 44.5% 1fr;
  align-items: center;
  width: 100%;
  @include breakpoint($cos-bp) {
    grid-template-columns: 45.5% 1fr;
  }
  @include breakpoint($xl-bp) {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
  }

  @include breakpoint($sm-bp) {
    
  }

  .services-header-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 4rem;
    background-color: #F7F7F7;
    height: 100%;
    @include breakpoint($xl-bp) {
      padding-top: 6.5rem;
      padding-bottom: 6.5rem;
      width: 100%;
    }
    @include breakpoint($sm-bp) {
      padding-top: 3rem;
      padding-bottom: 5rem;
    }
    .services-header-block {
      padding-left: 19.5rem;
      @include breakpoint($cos-bp) {
        padding-left: 5.6rem;
      }

      @include breakpoint($xl-bp) {
        padding-left: 2.5rem;
        padding-right: 2.5rem;
      }

      @include breakpoint($sm-bp) {
        padding-left: 2rem;
        padding-right: 2rem;
      }

      p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.8rem;
        line-height: 3rem;
        color: #4F4F4F;

        @include breakpoint($sm-bp) {
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }

      h1 {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 7rem;
        line-height: 7rem;
        color: #4F4F4F;
        margin-top: 2rem;
        @include breakpoint($cos-bp) {
          font-size: 6rem;
          line-height: 6.5rem;
          margin-top: 1rem;
        }
        @include breakpoint($xl-bp) {
          margin-top: 1.3rem;
          font-size: 7rem;
        }

        @include breakpoint($sm-bp) {
          font-size: 2.5rem;
          line-height: 2.8rem;
          margin-top: 0.5rem;
        }
      }

      a {
        @include breakpoint($xl-bp) {
          margin-top: 4rem;
        }

        @include breakpoint($sm-bp) {
          margin-top: 2rem;
          padding: 1.5rem 2rem 2rem 1.5rem;
          font-size: 1.5rem;
          line-height: 3rem;
        }
      }
    }
  }

  .services-header-right {
    height: 84rem;
    @include breakpoint($xl-bp) {
      width: 100%;
    }
    @include breakpoint($sm-bp) {
      height: 37.1rem;
    }

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.services-header-button {
  margin-top: 3rem;
  border-radius: 1rem;
  letter-spacing: -0.03em;
  background-color: transparent;
  @include breakpoint($cos-bp) {
    margin-top: 2rem;
    margin-left: 0.5rem;
  }
  @include breakpoint($xl-bp) {
    margin-top: 3rem;
  }
  @include breakpoint($sm-bp) {
    margin-left: 0;
    margin-top: 1.5rem;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    padding-left: 2.3rem;
    width: 100%;
  }
}

.services-price-title {
  @include breakpoint($sm-bp) {
    font-size: 2.2rem;
  }
}
.services-price {
  display: flex;
  flex-direction: column;
  gap: 6rem;

  @include breakpoint($cos-bp) {
    gap: 5.9rem;
  }

  @include breakpoint($sm-bp) {
    gap: 2rem;
  }

  .services-price-search {
    width: 38rem;
    margin: 0 auto;
    position: relative;

    @include breakpoint($sm-bp) {
      width: 100%;
    }

    input {
      padding: 1.5rem 2rem;
      padding-right: 4rem;
      font-family: 'Montserrat';
      font-style: normal;
      font-weight: 400;
      font-size: 1.64rem;
      line-height: 2rem;
      color: #003837;
      border: 0.1rem solid #003837;
      backdrop-filter: blur(4.6rem);
      border-radius: 0.5rem;
      width: 100%;
      box-sizing: border-box;
      outline: none;
      @include breakpoint($sm-bp) {
        font-size: 1.5rem;
        padding-top: 1.3rem;
        padding-bottom: 1.3rem;
      }
      &:focus {
        border-color: var(--green);
      }
    }
    button {
      position: absolute;
      top: 55%;
      right: 2.3rem;
      transform: translate(0%, -50%);
      @include breakpoint($sm-bp) {
        top: 57%;
        right: 2rem;
      }
      &:hover {
        svg {
          fill: var(--green);
        }
      }
    }
    svg {
      width: 2.2rem;
      height: 2.2rem;
      opacity: 0.6;
    }

  }

  .services-price__contentContainer {
    display: flex;
    flex-wrap: wrap;
    gap: 2.7rem;
    justify-content: center;
    @include breakpoint($xl-bp) {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      gap: 2.4rem;
    }
    @include breakpoint($sm-bp) {
      margin-top: 2rem;
      grid-template-columns: repeat(1, 1fr);
    }

    .services-price__item {
      position: relative;
      width: 23.3%;

      @include breakpoint($cos-bp) {
        width: 23.2%;
      }

      @include breakpoint($xl-bp) {
        width: 100%;
      }
      & > a {
        .services-price__arrow {
          display: none;
        }
        & + ul {
          display: none;
        }
      }
      & > a,
      button {
        padding: 0rem;
        background: rgba(251, 251, 251, 0.63);
        border: 0.1rem solid #F1F1F1;
        backdrop-filter: blur(0.45rem);
        border-radius: 1.85rem;
        padding: 2rem 2.7rem;
        display: flex;
        align-items: center;
        gap: 1.5rem;
        min-height: 11.3rem;
        width: 100%;
        padding-left: 4.5rem;
        transition: all 0.3s;
        @include breakpoint($cos-bp) {
          padding-left: 4rem;
          min-height: 10.8rem;
        }
        @include breakpoint($sm-bp) {
          border-radius: 1rem;
          padding-left: 5.5rem;
          gap: 2rem;
        }
        .services-price__img {
          width: 5.2rem;
          height: 5.2rem;
          object-fit: contain;
          fill: #009B97;
          transition: all .25s;
          flex: 0 0 auto;
          @include breakpoint($xl-bp) {
            width: 4.7rem;
          }
          @include breakpoint($sm-bp) {
            width: 6.2rem;
            height: 6.2rem;
          }
        }

        .services-price__btnTitle {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2.3rem;
          color: #003837;
          transition: color .3s;
          @include breakpoint($cos-bp) {
            letter-spacing: -0.04em;
          }
          @include breakpoint($xl-bp) {
            font-size: 1.4rem;
          }
          @include breakpoint($sm-bp) {
            font-size: 1.5rem;
            letter-spacing: 0;
          }
        }

        .services-price__arrow {
          fill: transparent;
          width: 1rem;
          height: 1rem;
          stroke: #003837;
          transition: all .3s;
        }
      }

      ul {
        visibility: hidden;
        opacity: 0;
        transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        position: absolute;
        width: auto;
        padding: 3rem 3rem 4rem 3rem;
        background: #F9FFFF;
        border: 0.1rem solid #F1F1F1;
        backdrop-filter: blur(0.45rem);
        border-radius: 0px 0px 1.85rem 1.85rem;
        display: flex;
        flex-direction: column;
        gap: 2rem;
        top: 100%;
        z-index: 11;
        @include breakpoint($sm-bp) {
          display: none;
          position: static;
        }
        li {
          font-family: 'Montserrat';
          font-style: normal;
          font-weight: 400;
          font-size: 1.5rem;
          line-height: 2rem;
          color: #003837;
        }
      }

      &:hover {
        & > a,
        button {
          background: linear-gradient(180deg, #00B7B2 0%, #009B97 100%);
          color: var(--white);
        }
        .services-price__btnTitle {
          color: var(--white);
        }
        .services-price__arrow {
          stroke: var(--white);
        }
        .services-price__img {
          fill: var(--white);
        }
      }

      &.open {

        .services-price__img {
          fill: #FFFFFF;
          transition: all .3s;
        }



        .services-price__arrow {
          transform: rotate(180deg);
          stroke: #CFFFFE;
          transition: all .3s;
        }

        .services-price__btnTitle {
          color: #CFFFFE;
        }
        & > a,
        button {
          background: linear-gradient(180deg, #00B7B2 0%, #009B97 100%);
        }

        button {
          border-bottom-left-radius: 0;
          border-bottom-right-radius: 0;
        }

        ul {
          opacity: 1;
          visibility: visible;
          transform: translate3d(0, 0, 0);
          transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
          @include breakpoint($sm-bp) {
            display: flex;
          }
        }
      }
    }
  }
}