.mt-90 {
    margin-top: 9.6rem;

    @include breakpoint($xl-bp) {
        margin-top: 3rem;
    }
}

.servicesSecond {
    margin-top: 14rem;

    @include breakpoint($cos-bp) {
        margin-top: 10rem;
    }

    @include breakpoint($xl-bp) {
        margin-top: 7rem;
    }

    @include breakpoint($sm-bp) {
        margin-top: 4rem;
    }

    .servicesSecond-content {
        display: flex;
        flex-direction: column;
        gap: 6rem;

        @include breakpoint($sm-bp) {
            gap: 3rem;
        }


        .servicesSecond-content__text {
            display: flex;
            flex-direction: column;
            gap: 3rem;

            h2,
            h3 {
                margin-top: 4rem;
                margin-bottom: 2rem;
                font-weight: 500;
                font-size: 2.3rem;
                line-height: 2.9rem;
                color: #000000;

                @include breakpoint($sm-bp) {
                    font-size: 1.7rem;
                    line-height: 2rem;
                }

            }

            ol {
                margin-top: 2rem;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;
                counter-reset: num;

                li {
                    padding-left: 3rem;
                    position: relative;
                    counter-increment: num;
                    width: 100%;

                    &::before {
                        content: counter(num);
                        margin-left: 1rem;
                        margin-right: 1rem;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                    }
                }
            }

            ul {
                margin-top: 2rem;
                margin-bottom: 2rem;
                display: flex;
                flex-direction: column;
                gap: 3rem;

                li {
                    padding-left: 3rem;
                    position: relative;
                    width: 100%;

                    &::before {
                        content: "•";
                        margin-left: 1rem;
                        margin-right: 1rem;
                        display: inline-block;
                        position: absolute;
                        left: 0;
                    }
                }
            }

            ul,
            ol,
            p {
                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.9rem;
                color: #000000;


                @include breakpoint($sm-bp) {
                    font-size: 1.4rem;
                    line-height: 2.3rem;
                }
            }
        }

        ul {
            display: flex;
            flex-wrap: wrap;
            gap: 2.4rem;


            li {
                display: block;
                width: 48%;

                @include breakpoint($sm-bp) {
                    width: 100%;
                }

            }

            a {
                padding: 2rem 3rem;
                background: rgba(255, 255, 255, 0.63);
                border: 0.1rem solid #F1F1F1;
                backdrop-filter: blur(0.46);
                border-radius: 1rem;
                display: block;
                width: 100%;
                height: 100%;

                font-family: 'Montserrat';
                font-style: normal;
                font-weight: 400;
                font-size: 1.8rem;
                line-height: 2.3rem;
                color: #003837;
                transition: all .25s;

                @include breakpoint($xl-bp) {
                    text-align: center;
                }


                &:hover {
                    background: linear-gradient(180deg, #00B7B2 0%, #009B97 100%);
                    border: 0.1rem solid #F1F1F1;
                    color: #CFFFFE;
                    transition: all .25s;
                }
            }
        }
    }
}

.callback_servicesSecond {
    margin-top: 20rem;

    @include breakpoint($cos-bp) {
        margin-top: 10rem;
    }
}