<section class="regModal modal-overlay" id="callbackmodal" hidden>
  <div class="modal-block">

    <button class="close-button">
      <svg>
        <use href='#crossIcon'></use>
      </svg>
    </button>

    <h2 class="page-title text-start">Экстренный прием</h2>

    <div class="modal-description modal-description-top ">
      Ежедневно с 8 до 20 наши доктора оказывают экстренную медицинскую помощь при травмах. Экстренный прием включает в себя: осмотр травматолога-ортопеда, первичная обработка ран, рентген, наложение гипсовых повязок, в том числе пластиковых.
    </div>

    <div class="modal-description modal-description-bot">
      Контакты для связи:

      <div><a href="tel:+88002228331">8 800 222 83 31</a>     <a href="tel:+89298335338">8 929 833 53 38</a></div>
      <a href="#">Записаться в WhatsApp</a>
    </div>

  </div>
</section>