<footer class="footer">
  <a href="/" class="footer__logo">
    <img src="/assets/images/footer/logo.svg" alt="logo">
  </a>


  <div class="footer__menu">
    <div class="footer-nav-title">Меню сайта</div>
    <nav>
      <ul class="menu__bot-list">
        <li class="active">
          <button class="menu__bot-button">Клиника</button>
          <div class="menu__bot-sublist">
            <ul>
              <li><a href="/aboutClinic.html">О клинике</a></li>
              <li><a href="#">Правовая информация</a></li>
            </ul>
          </div>
        </li>

        <li>
          <button class="menu__bot-button">Список услуг</button>
          <div class="menu__bot-sublist">
            <ul>
              <li><a href="#">Диагностика</a></li>
              <li><a href="#">Массаж-ЛФК</a></li>
              <li><a href="#">Консультации специалистов</a></li>
              <li><a href="#">Врачебные манипуляции</a></li>
              <li><a href="#">Физиотерапия</a></li>
              <li><a href="#">Изготовление стелек</a></li>
              <li><a href="#">Хирургические операции</a></li>
              <li><a href="#">Рентген</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="/specialists.html">Специалисты</a>
        </li>

        <li>
          <a href="/results.html">Результаты лечения</a>
        </li>

        <li>
          <a href="/cases.html">Статьи</a>
        </li>

        <li>
          <a href="/prices.html">Цены</a>
        </li>

        <li>
          <a href="/contacts.html">Контакты</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-services">
    <div class="footer-nav-title">Наши услуги</div>
    <nav>
      <ul>
        <li>
          <a href="#">Консультации специалистов</a>
        </li>
        <li>
          <a href="#">Врачебные манипуляции</a>
        </li>
        <li>
          <a href="#">Хирургические операции</a>
        </li>
        <li>
          <a href="#">Диагностика</a>
        </li>
      </ul>
      <ul>
        <li>
          <a href="#">Массаж-ЛФК</a>
        </li>

        <li>
          <a href="#">Физиотерапия</a>
        </li>

        <li>
          <a href="#">Изготовление стелек</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="footer-contacts-wrapper">
    <div class="footer-contacts">
      <div class="footer-nav-title">Контакты</div>
      <div class="footer-contacts-block">
        <div class="footer-phones"><a href="tel:+88002228331">8 800 222 83 31</a> <a href="tel:+89298335338">8 929 833 53
            38</a></div>
        <a href="mailto:info@ortox-clinic.ru">info@ortox-clinic.ru</a>
        <p>г.Краснодар, ул.Северная, 465</p>
        <p>Работаем 7 дней в неделю с 10 до 20</p>
        <a href="https://vk.com/ortoxclinic">В контакте</a>
        <a href="https://dzen.ru/id/623d79afe9b1211e899b29eb?utm_referer=ortox-clinic.ru">Яндекс Дзен</a>
        <button class="text-red" data-modal="#callbackmodal">Экстренный прием</button>
      </div>
    </div>
  </div>

  <div class="footer-bot">
    <a href="#">Политика конфиденциальности</a>
  </div>


</footer>