<div class="menu">

  <div class="menu__top page-container">

    <div class="menu__top-header"></div>

    <div class="menu__top-wrapper">
      <div class="menu__top-phones">
        <div class="menu__top-phone-icon">
          <svg>
            <use href='#phoneIcon'></use>
          </svg>
        </div>
        <ul>
          <li><a href="tel:88002228331">8 800 222 83 31</a></li>
          <li><a href="tel:89298335338">8 929 833 53 38</a></li>
        </ul>
      </div>

      <div class="menu__top-buttons">
        <button class="text-red" data-modal="#callbackmodal">Экстренный прием</button>
        <a href="https://api.whatsapp.com/send?phone=79298335338&text=" class="whatsupbutton">Записаться в WhatsApp</a>
      </div>
    </div>
  </div>

  <div class="menu__bot page-container" id="stickyhead">
    <nav>
      <ul class="menu__bot-list">
        <li class="active">
          <button class="menu__bot-button">Клиника</button>
          <div class="menu__bot-sublist">
            <ul>
              <li><a href="/aboutClinic.html">О клинике</a></li>
              <li><a href="/legalInformation.html">Правовая информация</a></li>
            </ul>
          </div>
        </li>

        <li>
          <button class="menu__bot-button">Список услуг</button>
          <div class="menu__bot-sublist">
            <ul>
              <li><a href="/services/diagnostika.html">Диагностика</a></li>
              <li><a href="#">Массаж-ЛФК</a></li>
              <li><a href="#">Консультации специалистов</a></li>
              <li><a href="/services/vrachebnye-manipulyacii.html">Врачебные манипуляции</a></li>
              <li><a href="#">Физиотерапия</a></li>
              <li><a href="#">Изготовление стелек</a></li>
              <li><a href="#">Хирургические операции</a></li>
              <li><a href="#">Рентген</a></li>
            </ul>
          </div>
        </li>

        <li>
          <a href="/specialists.html">Специалисты</a>
        </li>

        <li>
          <a href="/results.html">Результаты лечения</a>
        </li>

        <li>
          <a href="/cases.html">Статьи</a>
        </li>

        <li>
          <a href="/prices.html">Цены</a>
        </li>

        <li>
          <a href="/contacts.html">Контакты</a>
        </li>
      </ul>
    </nav>

    <div class="search-form-wrapper">
      <form class="search-form" action="/search.html" data-id="search">
        <input type="search" name="search" class="search-input" placeholder="Поиск услуги..">
        <button type="submit" class="search-button"><svg>
            <use href='#searchIcon'></use>
          </svg></button>
      </form>
    </div>
  </div>

</div>